*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	/*font-size: 0;*/
}
body{
	background: url(../images/bg.jpg);
	perspective: 1000px;
}
.clearfix:after{
	display:block;
	content:"";
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}
.main{
	width: 1000px;
	margin: 150px auto;
	display: flex;
	box-shadow: 1px 1px 10px #999;
}
.main div:nth-child(1){
	display: inline-block;
	width: 600px;
	height: 400px;
	box-sizing: border-box;
	padding: 20px;
	font-size: 0;
	background: #f5f5f5;
}
.main div:nth-child(1) p{
	font-size: 16px;
}
.main div:nth-child(1) img{
	display: inline-block;
}
.left{
	display: inline-block;
	width: 200px;
	height: 340px;
}
.right{
	display: inline-block;
	width: 360px;
}
.right img{
	width: 180px;
	height: 170px;
}
.right img:first-child{
	width: 360px;
	height: 170px;
}
.main>div:nth-child(2){
	display: inline-block;
	width: 400px;
	height: 400px;
	box-sizing: border-box;
	padding: 20px;
	background: #fafafa;
}
.main div:nth-child(2) h2{
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}
.main div:nth-child(2) i{
	display: none;
	color: red;
	font-size: 8px;
}
.main div:nth-child(2) .form{
	padding: 10px;
}
.main div:nth-child(2) .form input{
	height: 30px;
	width: 300px;
	margin-top: 20px;
}
.main div:nth-child(2) .form button:nth-child(5){
	height: 35px;
	width: 115px;
	margin: 10px;
	border: none;
	color: #fff;
	background: url(../images/icon_3.png) 0 -90px;
	cursor: pointer;
}
.main div:nth-child(2) .form button:nth-child(5):hover{
	background: url(../images/icon_3.png) -115px -90px;
}
.main div:nth-child(2) .form input:nth-child(6){
	width: 10px;
	height: 10px;
}
.main div:nth-child(2) .form input:nth-child(8){
	height: 40px;
	width: 140px;
	border: none;
	color: #fff;
	background: url(../images/head.png) -303px -122px;
	cursor: pointer;
}
.main div:nth-child(2) .form input:nth-child(8):hover{
	background: url(../images/head.png) -703px -122px;
}
.main div:nth-child(2) .form input:nth-child(9){
	height: 40px;
	width: 173px;
	border: none;
	color: #fff;
	background: url(../images/head.png) -462px -122px;
	cursor: pointer;
}
.main div:nth-child(2) .form input:nth-child(9):hover{
	background: url(../images/head.png) -862px -122px;
}
.main div:nth-child(2) h6{
	display: block;
	float: right;
	margin-top: 50px;
}
.main div:nth-child(2) a{
	font-size: 12px;
}
footer{
	width: 100%;
	margin: 40px auto;
	text-align: center;
}
